<table border="0" width="100%" id="table1">
	<tr>
		<td colspan="2"><A title="Site Logo" 
            href="http://workplace.tenaris.ot/" target=_self>
		<IMG 
            alt="Site Logo" 
            src="../../../../assets/img/logosiderca2.gif" 
          border=0 width="171" height="38"></A></td>
	</tr>
	<tr>
		<td bgcolor="#000080" colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td rowspan="2">
		<IMG id=spsPageTitleIcon alt="" 
                  src="../../../../assets/img/spstopic.gif" align="center" width="49" height="49"></td>
		<td>
                  <font size="2" face="Verdana">El tubo fue cargado con Éxito!</font></td>
	</tr>
	<tr>
		<td>
						<font color="#000080" face="Verdana" size="4">TAND</font></td>
	</tr>
</table>

  <BR><BR>
  <input class="btn btn-primary mr-3" type="button" value="Iniciar otro pedido" (click)="neworder()">
  <input class="btn btn-primary mr-1" type="button" value="Ir al inicio" (click)="home()" id=button1 name=button1>