<table border="0" width="100%" id="table1">

	<tr>
		<td bgcolor="#000080" colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td rowspan="2">
		<IMG id=spsPageTitleIcon alt="" 
                  src="../../../../assets/img/spstopic.gif" align="center" width="49" height="49"></td>
		<td>
                  &nbsp;<font face="Verdana" style="font-size: 9pt">Formulario de pedido de un 
						nuevo tubo patrón</font></td>
	</tr>
	<tr>
		<td>
						<font color="#000080" face="Verdana" size="4">TAND</font></td>
	</tr>
</table>

<table border="1" cellpadding="0" class="tabladatos" width="100%" style="border-color: #C0C0C0; border-width: 1px">
    <tr>
      <td width="33%" bordercolor="#f5f5f5">
        <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" color=#f5f5f5 bordercolor="#f5f5f5">
            <tr bgcolor=#f5f5f5>
                <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5; " width="59">&nbsp;Código:</td>
                <td class="valor" bgcolor="#f5f5f5"  style="border-color: #f5f5f5; ">{{code}}</td>
      </tr></table></td>
    
   


    <td width="33%" cellspacing="0">
        <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%">
            <tr>
      <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Tipo de Tubo:</td>
        <td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{tubetype}}</td>
      </tr>
      </table>
    </td>



    <td width="33%">
        <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%"><tr>
      <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Cliente:</td>
        <td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{client}}</td>
      </tr></table></td>


    </tr>


    <tr>
      <td width="33%">
        <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" bgcolor="#f5f5f5" bordercolor="#f5f5f5"><tr>
      <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Longitud:</td>
        <td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{length}} mm&nbsp;</td>
      </tr></table></td>
      <td width="33%">
        <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" color=#f5f5f5><tr>
      <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Di&aacute;metro:</td>
        <td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{diam}} mm&nbsp;</td>
      </tr></table></td>
      <td width="33%"><table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%"><tr>
      <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Espesor:</td>
        <td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{thickness}} mm&nbsp;</td>
      </tr></table></td>
    </tr>
   
   
    <tr>
      <td width="33%">
        <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" bgcolor="#f5f5f5" bordercolor="#f5f5f5"><tr>
      <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Ciclo:</td>
        <td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{cycle}}&nbsp;</td>
      </tr></table></td>
      <td width="33%"><table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%"><tr>
      <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Colada:</td>
        <td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{steelcasting}}&nbsp;</td>
      </tr></table></td>
      <td width="33%"><table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%"><tr>
      <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Expediente:</td>
        <td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{record}}&nbsp;</td>
      </tr></table></td>
    </tr>



    </table>



    <table border="1" cellspacing="3" cellpadding="0" class="tabladatos" width="100%" id="table1" style="border-width: 1px">
        <tr>
          <td width="33%">
            <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" id="table2"><tr>
          <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Patronera:</td><td class="valor"  bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{pasillo}}</td>
          </tr></table></td>
          <td width="33%">
            <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" id="table3"><tr>
          <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">Cuerpo:</td><td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{cuerpo}}</td>
          </tr></table></td>
          <td width="33%">
            <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" id="table11"><tr>
          <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Nivel:</td><td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{nivel}}</td>
          </tr></table></td>
          
          <td width="33%">
            <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" id="table4"><tr>
          <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Casilla:</td><td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{casilla}}</td>
          </tr></table></td>
          
        </tr>
        <tr>
          
          
            <td width="33%">  
           
            <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" id="table8"><tr>
          <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Planta/Línea:</td><td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{linea}}</td>
          </tr></table>

        </td>

          <td width="33%">
           
            <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" id="table9"><tr>
          <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">&nbsp;Estado:</td><td class="valor" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{estado}}</td>
          </tr></table>
        
        </td>
          

        <td width="33%">
              
            <table border="0" cellspacing="0" cellpadding="0" class="borde" width="100%" id="table13"><tr>
          <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">
        
        <span name="tubo" id="tubo1">
            Motivo:</span></td>  
          <td class="tubo" bgcolor="#f5f5f5" style="border-color: #f5f5f5">{{motivo}}</td> 

          </tr></table>

        </td>


        <td width="33%">
        
            <span name="tubo" id="tubo0"></span>
            <span id="Modi0" name="Mod" ></span>
          <input class="button" type="submit" value="Modificar" id=button2 name=btnModificar  (click)="openmodelmodifypattern()">
          
            </td>
              
    

        
        </tr>
        </table>





        <div class="row" >


            <div class="col-sm-6" style="border: 1px;">
                <h5 class="card-header" style="background-color: #CECEF6;margin:0;padding:1.5px" >&nbsp;&nbsp;Defectos</h5>
                <div class="card-body"  style="background-color:#F5A9E1">
                    <!--   sasdasddad -->
                  
    
    
         
                    <table class="atributos" border="0" cellspacing="1" cellpadding="2" width="100%" align="center"   >
       
    
                        <tr *ngFor="let ro of requiredorders" >
                            
                            <td   *ngIf="ro.Letra=='xxxx'" >&nbsp;&nbsp;&nbsp;No se ha agregado ningún defecto. Seleccione un tipo de defecto, complete sus atributos y haga clic en Crear defecto para comenzar a agregar defectos. Una vez que haya cargado todos los defectos que necesita, haga clic en Terminar</td>
                            
                            <td *ngIf="ro.Letra!='xxxx'" class="expander" align="center" valign="middle" width="30" onMouseDown="" onMouseOver="" onMouseOut="">
                            <img  (click)="opendetails(1,ro.codigo)" *ngIf="ro.Letra!='xxxx'" src='../../../../assets/imgPatterns/{{ro.codigo}}.gif' >
                            </td>
    
                            <td *ngIf="ro.Letra!='xxxx'" class="titulo">{{ro.Letra}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ro.Descripcion}}</td>                       
                            
    
                        </tr>
    
                        
    
                    </table>
                        



                    
                    <div >
                    <a class="links" *ngIf="doc" href="../../../../assets/Certificados/{{code}}.doc" target="_blank">Certificado</a> &nbsp;&nbsp;
                    <a class="links" *ngIf="pdf" href="../../../../assets/Certificados/{{code}}.pdf" target="_blank">PDF</a>&nbsp;&nbsp;
                    </div>
                        
                
    
               
              </div>
            </div>



            <div class="col-sm-6" style="border: 1px;">
                <h5 class="card-header" style="background-color: #CECEF6;margin:0;padding:1.5px" >&nbsp;&nbsp;Histórico de movimientos</h5>
                <div class="card-body"  style="background-color:#F5A9E1">
                    <!--   sasdasddad -->
                  
    
    
         
                     
<table width="100%" cellspacing=0 cellpadding=1 border=0 bgcolor="white">
    <tr bgcolor=#CECEF6>
    <th class="titulos" >Pasillo</th>
    <th class="titulos" >Cuerpo</th>
    <th class="titulos" >Nivel</th>
    <th class="titulos" >Casilla</th>
    <th class="titulos" >Linea</th>
    <th class="titulos" >Estado</th>
    <th class="titulos" >Fecha</th>
    </tr>
    <!--</table>-->

    <!--<table cellspacing=2 cellpadding=0 border=0 class="resultado" width="100%"> -->
    <tr   *ngFor="let h of historytable">
    
    <td class="resultado" align="center">&nbsp;{{h.pasillo}}</td>
    <td class="resultado" align="center">&nbsp;{{h.cuerpo}}</td>
    <td class="resultado" align="center">&nbsp;{{h.nivel}}</td>
    <td class="resultado" align="center">&nbsp;{{h.casilla}}</td>
    <td class="resultado" align="center">&nbsp;{{h.linea}}</td>
    <td class="resultado" align="center">&nbsp;{{h.estado}}</td>
    <td class="resultado" align="center">&nbsp;{{h.fecha}}</td>
    </tr>
    <!--</table>-->
 
    </table>   
                        
                        
                
    
               
              </div>
            </div>






        </div> <!-- row-->


        <div style="text-align: center;margin-top: 20px;">
            <input class="btn btn-primary mr-3" style="padding:10px;" type="button" Value="Volver" (click)="back()">
        </div>


