
<table cellspacing=0 cellpadding=0 border=0 width="100%">
    <tr>
    <td><p style="size: 15px;font-weight: bold;">Eliminado de un pedido</p></td>
        
    <td align="right" valign="top"><img src="../../../../assets/img/logosiderca2.gif"></td></tr>
    </table>


    <div  style="background-color: #CECEF6;margin:0;padding:0">
    <font face="verdana" size="2" color="#666666">{{texto}}</font><BR><BR>
    </div>
        <BR><BR>
            <input class="btn btn-primary mr-3" type="button" value="Iniciar otro pedido" (click)="neworder()">
            <input class="btn btn-primary mr-1" type="button" value="Ir al inicio" (click)="home()" id=button1 name=button1>

